<h1>{{cloth.name}}  <small>Size:{{cloth.size}}</small></h1>

<div class="detail price">
   {{cloth.price}}
</div>

<div class="detail image">
   <img class="feed-img"src={{cloth.image}} alt=""> 
</div>