<div class="list-group">
  {{#each cloths as |cloth|}}
     {{#unless cloth.isNew }}
        {{#link-to 'cloths.cloth' cloth class="list-group-item"}}{{cloth.name}}{{/link-to}}
     {{/unless}}
  {{/each}}
</div>